.Rproj.user
.Rhistory
.RData
.Ruserdata
BRC_CC_EveryCSRCall_HIST_PROD.csv
BRC_CC_application_DAILY_HISTORICAL_PROD.csv
BRC_CC_skillset_DAILY_HIST_PROD.csv
BRC_CC_agentperf_DAILY_HIST_PROD.csv
VPI List.csv
skillsets_refined.csv
answered_refined.csv
applications_refined.csv
agent_perf_refined.csv
answered_primary_refined.csv
apps_primary_refined.csv
skills_primary_refined.csv
Erlang-C_Report.pdf
Erlang-C Report.Rmd
answered_sanitized.csv
agents_ptd_refined.csv
